@import url(https://fonts.googleapis.com/css?family=Silkscreen:regular,700);

* {
    margin: 0;
    font-family: 'Silkscreen', cursive;
}

body {
    background: url(./imgs/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    font-family: 'Silkscreen', cursive;
    text-align: center;
    color: white;
    height: 100%;
}

h1 {
    font-family: 'Silkscreen', cursive;
    color: yellow;
    margin-bottom: 15px;
}

h2 {
    margin-top: 20px;
}



/* Game UI */
.time-limit {
    align-self: center;
    margin-bottom: -30px;
}

.title-container {
    margin-top: 25px;
}

.ui-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: -40px 0;
    height: 185px;
}

#game {
    padding: 5px 0px 15px 0px;
}

/* Player Side */

div > .player-container {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin: 50px;
}

div.icon-container {
    display: flex;
    justify-content: center;
    height: 70px;
    background-color: white;
    border: 6px black solid;
    margin: 0 12px;
}

div.player-health-bar-container {
    background-color: gray;
    width: 200px;
    border: 7px black solid;
}

div.player-health-bar {
    background-color: green;
    /* padding: 14px 100px; */
    height: 35px;
    width: 200px;
}

.player-icon {
    width: 90%;
}

.player-name {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: -7px;
}

/* Computer Side*/

div > .comp-container {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
    margin: 50px;
}

div.comp-health-bar-container {
    background-color: gray;
    width: 200px;
    border: 7px black solid;
    height: 35px;
}

div.comp-health-bar {
    background-color: green;
    /* padding: 14px 100px; */
    height: 35px;
    width: 200px;
    display: inline-flex;
}

.comp-icon {
    width: 90%;
}

.comp-name {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: -7px;
}

/* Selections */
#game > input {
    width: 180px;
    margin-top: 30px;
    padding: 0px 40px 0 40px;
    height: 335px;
}

.new-game {
    display: flex;
    justify-content: center;
    width: 250px;
    cursor: pointer;
    color: black;
}


.new-game-container {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

/* Characters */
  div > #paper {
    width: 225px;
}
