@import url(https://fonts.googleapis.com/css?family=Silkscreen:regular,700);

* {
    margin: 0;
    font-family: 'Silkscreen', cursive;
}

body {
    background: url(./imgs/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    font-family: 'Silkscreen', cursive;
    text-align: center;
    color: white;
    height: 100%;
}

h1 {
    font-family: 'Silkscreen', cursive;
    color: yellow;
    margin-bottom: 15px;
}

h2 {
    margin-top: 20px;
}



/* Game UI */
.time-limit {
    align-self: center;
    margin-bottom: -30px;
}

.title-container {
    margin-top: 25px;
}

.ui-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: -40px 0;
    height: 185px;
}

#game {
    padding: 5px 0px 15px 0px;
}

/* Player Side */

div > .player-container {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin: 50px;
}

div.icon-container {
    display: flex;
    justify-content: center;
    height: 70px;
    background-color: white;
    border: 6px black solid;
    margin: 0 12px;
}

div.player-health-bar-container {
    background-color: gray;
    width: 200px;
    border: 7px black solid;
}

div.player-health-bar {
    background-color: green;
    /* padding: 14px 100px; */
    height: 35px;
    width: 200px;
}

.player-icon {
    width: 90%;
}

.player-name {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: -7px;
}

/* Computer Side*/

div > .comp-container {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
    margin: 50px;
}

div.comp-health-bar-container {
    background-color: gray;
    width: 200px;
    border: 7px black solid;
    height: 35px;
}

div.comp-health-bar {
    background-color: green;
    /* padding: 14px 100px; */
    height: 35px;
    width: 200px;
    display: inline-flex;
}

.comp-icon {
    width: 90%;
}

.comp-name {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: -7px;
}

/* Selections */
#game > input {
    width: 180px;
    margin-top: 30px;
    padding: 0px 40px 0 40px;
    height: 335px;
}

.new-game {
    display: flex;
    justify-content: center;
    width: 250px;
    cursor: pointer;
    color: black;
}


.new-game-container {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

/* Characters */
  div > #paper {
    width: 225px;
}

div > #rock {
    width: 225px;
}

div > #scissors {
    width: 225px;
}


/* iPad media query */

@media(max-width: 1024px) {
    
    body {
        background: url(./imgs/tablet-background.png);
        background-color: #00AEF1;
        background-size: cover;
        background-repeat: no-repeat;
        /* 
        background-position: top;
        font-family: 'Silkscreen', cursive;
        text-align: center;
        color: white;
        height: 100%; */
    }

    h3 {
        font-size: 18px;
    }


    h2 {
        font-size: 42px;
        margin-top: 75px;
    }
    
    h1 {
        font-size: 50px;
        margin-bottom: 30px;
    }

    #game {
        position: absolute;
        right: -50px;
        bottom: 275px;
    }

    #result {
        margin-bottom: 70px;
    }


    .ui-container {
        justify-content: space-evenly;
    }

    .new-game-container {
        position: absolute;
        top: 660px;
        left: 250px;
    }

    .game-container {
        position: absolute;
        top: 500px;
    }

    .characters {
        display: block;
        position: fixed;
    }

    #game > input {
        margin-top: 0px;
    }

    .new-game {
        position: absolute;
        width: 330px;
        top: 560px;
        left: 100px;
    }

    div > #rock {
        width: 250px;
        height: auto;
        position: fixed;
        top: 700px;
        left: 100px;
    }

    div > #paper {
        width: 250px;
        height: auto;
        position: fixed;
        top: 675px;
        left: 625px;
    }

    div > #scissors {
        width: 250px;
        height: auto;
        position: fixed;
        top: 900px;
        left: 360px;
    }

    div.icon-container {
        margin: 0px;
    }

    .comp-icon {
        width: 100%;
    }

    .comp-name {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-right: 8px;
    }

    .player-name {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 8px;
    }

}


@media(max-width: 414px) {
    
    body {
        background: url(./imgs/phone-background.png);
        background-color: #00AEF1;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%; 
        /* 
        background-position: top;
        font-family: 'Silkscreen', cursive;
        text-align: center;
        color: white;
*/
    }

    h2 {
        font-size: 21px;
        margin-top: 30px;
    }
    
    h1 {
        font-size: 32px;
        margin-bottom: 10px;
    }

    #game {
        position: absolute;
        left: -50px;
    }

    .ui-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 60px 0;
        height: 185px;
    }

    div.icon-container {
        display: flex;
        justify-content: center;
        height: 40px;
        background-color: white;
        border: 5px black solid;
        margin: 0 12px;
    }

    .new-game-container {
        position: relative;
        top: 660px;
    }

    #game > input {
        margin-top: 0px;
    }

    .new-game {
        width: 200px;
        position: absolute;
        top: -330px;
        left: -120px;
    }

    div > #rock {
        width: 125px;
        height: auto;
        position: absolute;
        top: 60px;
        left: 40px;
    }

    div > #paper {
        width: 125px;
        height: auto;
        position: absolute;
        top: 60px;
        left: 290px;
    }

    div > #scissors {
        width: 130px;
        height: auto;
        position: absolute;
        top: 180px;
        left: 180px;
    }

    div.icon-container {
        margin: 0px;
    }

    div.comp-health-bar-container {
        background-color: gray;
        width: 200px;
        border: 5px black solid;
        height: 20px;
    }
    
    div.comp-health-bar {
        background-color: green;
        /* padding: 14px 100px; */
        height: 20px;
        width: 200px;
        display: inline-flex;
    }

    div.player-health-bar-container {
        background-color: gray;
        width: 200px;
        border: 5px black solid;
    }
    
    div.player-health-bar {
        background-color: green;
        /* padding: 14px 100px; */
        height: 20px;
        width: 200px;
    }
    
    div > .player-container {
        display: flex;
        flex-direction: row;
        text-align: left;
        margin: 15px 40px;
        align-items: flex-end;
    }

    div > .comp-container {
        display: flex;
        flex-direction: row-reverse;
        text-align: right;
        margin: 15px 40px;
        align-items: flex-end;
    }

    .comp-icon {
        width: 100%;
    }

    .comp-name {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-right: 8px;
    }

    .player-name {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 8px;
    }

    .time-limit {
        width: 15%;
    }

    .ui-container {
        margin: 20px 0;
    }


}